<h1>Live Chat</h1>

<div id="messages"></div>
<input type="text" id="text-input">
<input type="button" value="Send" id="send-button">

{{ scripts.set('<script src="/assets/js/chat-client.js" type="text/javascript" charset="utf-8"></script>'); }}