html,body {
	margin: 0;
	padding: 0;
	font-family: "Myriad Web Pro", "Gill Sans", Calibri, Tahoma, Arial, sans-serif;
	text-align: center;
}

div#wrapper {
	text-align: left;
	width: 800px;
	margin: 0 auto;
}

div#content {
	margin: 0 15px;
}