html,body {
	margin: 0;
	padding: 0;
	font-family: "Myriad Web Pro", Calibri, Tahoma, Arial, sans-serif;
	text-align: center;
}

body {
	border-top: 4px solid #09c;
}

a {
	color: #7F4100;
}

img#masthead {
	margin: 0 auto 25px;
}

div#wrapper {
	text-align: left;
	width: 800px;
	margin: 0 auto;
	position: relative;
}

div#swinger {
	background: transparent url(/assets/img/node-swing.png) top left no-repeat;
	width: 100px;
	height: 97px;
	position: absolute;
	top: 0;
	left: -120px;
}

div#content {
	text-align: center;
}

h1,h2,h3,h4,code,pre,blockquote {
	margin: 0 auto;
	width: 800px;
	text-align: left;
}

p,ul,ol {
	width: 800px;
	text-align: left;
	margin: 15px auto;
	font-size: 13pt;
}

div.header-highlight,div.highlight {
	padding: 5px 0;
	margin: 5px 0;
}

div.header-highlight {
	border-top: 1px solid #09c;
	border-bottom: 1px solid #09c;
	background-color: #E5F8FF;
}

div.highlight {
	border-top: 1px solid #444;
	border-bottom: 1px solid #444;
	background-color: #eee;
}

/* SIMPLEMODAL */

.simplemodal-overlay {
	background-color: #fff;
	opacity: 0.4;
}

.simplemodal-container {
	background-color: #444;
	color: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 12px;
	text-align: left;
}

.simplemodal-wrap {
}